<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/j2ee"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>D4mWebAnalytics2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>query</servlet-name>
    <servlet-class>edu.mit.ll.d4m.analytics.web.D4mOctaveServlet</servlet-class>
      <!--   <servlet-class>edu.mit.ll.d4m.analytics.web.D4mServlet</servlet-class> -->
    
  </servlet>  
    <servlet-mapping>
        <servlet-name>query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>

</web-app>
