* text=auto !eol
/.project -text
TEST/AssocConstructTEST.m -text
TEST/AssocMath01TEST.m -text
TEST/AssocSetup.m -text
TEST/AssocSetup3.m -text
TEST/AssocSubsrefTEST.m -text
TEST/D4ManalysisResponse.m -text
TEST/D4MqueryGetTrackNames.m -text
TEST/D4MqueryJSONformat.m -text
TEST/D4MqueryMHtrack.m -text
TEST/D4MqueryMultiTrack.m -text
TEST/D4MqueryTrackPointDocList.m -text
TEST/D4MqueryTrackWindow.m -text
TEST/D4MwebAnalysisResponse.m -text
TEST/D4MwebQueryResponse.m -text
TEST/DBserverDispTEST.m -text
TEST/DBsetup.bin -text
TEST/DBsetup.m -text
TEST/DBtableColFamilyTEST.m -text
TEST/DBtableNnzTEST.m -text
TEST/DBtableNumLimitTEST.m -text
TEST/DBtablePairSecurityTEST.m -text
TEST/DBtablePairSubsrefTEST.m -text
TEST/DBtableSecurityTEST.m -text
TEST/DBtableSubsrefTEST.m -text
TEST/DBtableSubsrefTripleTEST.m -text
TEST/IteratorTEST.m -text
TEST/MertonTEST.m -text
TEST/Reuters3D4MCLIAnalysis.m -text
TEST/Reuters3D4ManalysisDefaults.csv -text
TEST/Reuters3D4ManalysisTEST.m -text
TEST/Reuters3D4MqueryDemoTEST.m -text
TEST/Reuters3D4MwebAnalysisTEST.m -text
TEST/Reuters3FindTracks.m -text
TEST/Reuters3MHtracks.m -text
TEST/Reuters3insert.m -text
TEST/Reuters3parse.m -text
TEST/Reuters3trackInsert.m -text
TEST/Reuters3trackParse.m -text
TEST/ReutersEntity3Read.m -text
TEST/SKSonCloud.m -text
TEST/SearchRowAndCol2DTEST.m -text
TEST/SemanticPairExtend.m -text
TEST/TableFieldsTEST.m -text
TEST/badTEST.m -text
TEST/convTEST.m -text
TEST/dispTypeStats.m -text
TEST/goodTEST.m -text
TEST/pBenchmarkTEST.m -text
TEST/parseJsonTEST.m -text
TEST/reuters_entities3/mergedfiles/output_01.txt -text
/VERSION.txt -text
/build.xml -text
docs/D4M-Demo.mp4 -text
docs/D4M-Slides.ppt -text
docs/D4Mwebapp.prj -text
docs/HOWTO-D4M -text
docs/WEBAPP.README -text
docs/java.opts -text
examples/AssocConstructExample.m -text
examples/CloudPath.m -text
examples/D4MqueryGetTrackNames.m -text
examples/D4MqueryJSONformat.m -text
examples/D4MqueryMHtrack.m -text
examples/D4MqueryMultiTrack.m -text
examples/D4MqueryTrackPointDocList.m -text
examples/D4MqueryTrackWindow.m -text
examples/D4MwebQueryResponse.m -text
examples/DBexample.m -text
examples/DBexample1.m -text
examples/DataGeneration/RUN_graphGenerator.m -text
examples/DataGeneration/declareGlobals.m -text
examples/DataGeneration/genScalData.m -text
examples/DataGeneration/getUserParameters.m -text
examples/DbInfoOctaveExample.m -text
examples/DbTableExampleNnz.m -text
examples/ExampleFind.m -text
examples/ExampleFind1.m -text
examples/ExampleFindAll.m -text
examples/ExampleFindColumns.m -text
examples/ExampleFindRows.m -text
examples/ExampleInsert.m -text
examples/ExampleInsert1.m -text
examples/FindTracks.m -text
examples/ISVGfacetExample.m -text
examples/ISVGsubsrefExample.m -text
examples/OctaveJavaExample.m -text
examples/ParseCols.m -text
examples/ParseFile.m -text
examples/ParseFileCols.m -text
examples/RUN.m -text
examples/Reuters2demoScript.txt -text
examples/Reuters3D4MqueryDemo.m -text
examples/Reuters3FindTracks.m -text
examples/Reuters3MHtracks.m -text
examples/Reuters3demoScript.txt -text
examples/Reuters3insert.m -text
examples/Reuters3parse.m -text
examples/Reuters3trackInsert.m -text
examples/Reuters3trackParse.m -text
examples/ReutersAtA.m -text
examples/ReutersAtAdemo.m -text
examples/ReutersEntity2Read.m -text
examples/ReutersEntity3Read.m -text
examples/ReutersEntityRead.m -text
examples/ReutersEntityTimeStamp.m -text
examples/ReutersFacet.m -text
examples/ReutersFacetDemo.m -text
examples/ReutersFacetO2.m -text
examples/ReutersHist.m -text
examples/ReutersMHtracks.m -text
examples/ReutersTest1.m -text
examples/ReutersTracks.m -text
examples/ReutersTracksDisp.m -text
examples/ReutersTracksGraph.m -text
examples/TrackGraph.m -text
examples/pBenchmarkTest1.m -text
examples/pPrep.m -text
examples/run_d4m_analytics.m -text
lib/D4M_API_JAVA.jar -text
lib/accumulo-core-1.4.0.jar -text
lib/accumulo-server-1.4.0.jar -text
lib/cloudbase-core-1.3.4.jar -text
lib/cloudbase-server-1.3.4.jar -text
lib/cloudbase-start-1.3.4.jar -text
lib/cloudtrace-0.1.3.jar -text
lib/cloudtrace-1.4.0.jar -text
lib/commons-collections-3.2.jar -text
lib/commons-configuration-1.5.jar -text
lib/commons-io-1.4.jar -text
lib/commons-jci-core-1.0.jar -text
lib/commons-jci-fam-1.0.jar -text
lib/commons-lang-2.4.jar -text
lib/commons-logging-1.0.4.jar -text
lib/hadoop-0.20.2-core.jar -text
lib/hadoop-0.20.2-tools.jar -text
lib/hadoop-core-0.20.205.0.jar -text
lib/hadoop-tools-0.20.205.0.jar -text
lib/json.jar -text
lib/jtds-1.2.5.jar -text
lib/libthrift-0.6.1.jar -text
lib/ll-octave4j-1.0.jar -text
lib/log4j-1.2.15.jar -text
lib/matlabcontrol-3.01.jar -text
lib/slf4j-api-1.6.1.jar -text
lib/slf4j-log4j12-1.6.1.jar -text
lib/thrift-0.3.jar -text
lib/zookeeper-3.3.1.jar -text
lib/zookeeper-3.3.5.jar -text
matlab_src/@Assoc/Adj.m -text
matlab_src/@Assoc/Assoc.m -text
matlab_src/@Assoc/Assoc2CSV.m -text
matlab_src/@Assoc/Assoc2CSVstr.m -text
matlab_src/@Assoc/Assoc2JSONCSV.m -text
matlab_src/@Assoc/Col.m -text
matlab_src/@Assoc/Equallike.m -text
matlab_src/@Assoc/Key.m -text
matlab_src/@Assoc/NewSep.m -text
matlab_src/@Assoc/NumLimit.m -text
matlab_src/@Assoc/Pluslike.m -text
matlab_src/@Assoc/Row.m -text
matlab_src/@Assoc/Val.m -text
matlab_src/@Assoc/abs.m -text
matlab_src/@Assoc/and.m -text
matlab_src/@Assoc/catFind.m -text
matlab_src/@Assoc/conv.m -text
matlab_src/@Assoc/dblLogi.m -text
matlab_src/@Assoc/diag.m -text
matlab_src/@Assoc/disp.m -text
matlab_src/@Assoc/display.m -text
matlab_src/@Assoc/displayFull.m -text
matlab_src/@Assoc/double.m -text
matlab_src/@Assoc/eq.m -text
matlab_src/@Assoc/find.m -text
matlab_src/@Assoc/ge.m -text
matlab_src/@Assoc/gt.m -text
matlab_src/@Assoc/isempty.m -text
matlab_src/@Assoc/le.m -text
matlab_src/@Assoc/loadobj.m -text
matlab_src/@Assoc/logical.m -text
matlab_src/@Assoc/lt.m -text
matlab_src/@Assoc/max.m -text
matlab_src/@Assoc/min.m -text
matlab_src/@Assoc/minus.m -text
matlab_src/@Assoc/mtimes.m -text
matlab_src/@Assoc/ne.m -text
matlab_src/@Assoc/nnz.m -text
matlab_src/@Assoc/noCol.m -text
matlab_src/@Assoc/noRow.m -text
matlab_src/@Assoc/noVal.m -text
matlab_src/@Assoc/num2str.m -text
matlab_src/@Assoc/numel.m -text
matlab_src/@Assoc/or.m -text
matlab_src/@Assoc/plot.m -text
matlab_src/@Assoc/plus.m -text
matlab_src/@Assoc/putAdj.m -text
matlab_src/@Assoc/putCol.m -text
matlab_src/@Assoc/putNumLimit.m -text
matlab_src/@Assoc/putRow.m -text
matlab_src/@Assoc/putVal.m -text
matlab_src/@Assoc/randCol.m -text
matlab_src/@Assoc/randRow.m -text
matlab_src/@Assoc/rdivide.m -text
matlab_src/@Assoc/reAssoc.m -text
matlab_src/@Assoc/size.m -text
matlab_src/@Assoc/spy.m -text
matlab_src/@Assoc/spyTicks.m -text
matlab_src/@Assoc/sqIn.m -text
matlab_src/@Assoc/sqOut.m -text
matlab_src/@Assoc/str2num.m -text
matlab_src/@Assoc/strcmp.m -text
matlab_src/@Assoc/subsref.m -text
matlab_src/@Assoc/sum.m -text
matlab_src/@Assoc/times.m -text
matlab_src/@Assoc/transpose.m -text
matlab_src/@Assoc/xor.m -text
matlab_src/@DBserver/DBserver.m -text
matlab_src/@DBserver/DBsqlConnect.m -text
matlab_src/@DBserver/display.m -text
matlab_src/@DBserver/ls.m -text
matlab_src/@DBserver/subsref.m -text
matlab_src/@DBtable/ColumnFamily.m -text
matlab_src/@DBtable/DBtable.m -text
matlab_src/@DBtable/NumLimit.m -text
matlab_src/@DBtable/NumRow.m -text
matlab_src/@DBtable/PutBytes.m -text
matlab_src/@DBtable/Security.m -text
matlab_src/@DBtable/Split.m -text
matlab_src/@DBtable/close.m -text
matlab_src/@DBtable/delete.m -text
matlab_src/@DBtable/deleteForce.m -text
matlab_src/@DBtable/getName.m -text
matlab_src/@DBtable/new.m -text
matlab_src/@DBtable/nnz.m -text
matlab_src/@DBtable/put.1.m -text
matlab_src/@DBtable/putColumnFamily.m -text
matlab_src/@DBtable/putFile.m -text
matlab_src/@DBtable/putNumLimit.m -text
matlab_src/@DBtable/putNumRow.m -text
matlab_src/@DBtable/putPutBytes.m -text
matlab_src/@DBtable/putSecurity.m -text
matlab_src/@DBtable/putSplit.m -text
matlab_src/@DBtable/putTriple.m -text
matlab_src/@DBtable/randRow.m -text
matlab_src/@DBtable/size.m -text
matlab_src/@DBtable/subsref.m -text
matlab_src/@DBtablePair/ColumnFamily.m -text
matlab_src/@DBtablePair/DBtablePair.m -text
matlab_src/@DBtablePair/NumLimit.m -text
matlab_src/@DBtablePair/PutBytes.m -text
matlab_src/@DBtablePair/Security.m -text
matlab_src/@DBtablePair/close.m -text
matlab_src/@DBtablePair/delete.m -text
matlab_src/@DBtablePair/deleteForce.m -text
matlab_src/@DBtablePair/getName.m -text
matlab_src/@DBtablePair/new.m -text
matlab_src/@DBtablePair/nnz.m -text
matlab_src/@DBtablePair/put.1.m -text
matlab_src/@DBtablePair/putColumnFamily.m -text
matlab_src/@DBtablePair/putNumLimit.m -text
matlab_src/@DBtablePair/putPutBytes.m -text
matlab_src/@DBtablePair/putSecurity.m -text
matlab_src/@DBtablePair/putTriple.m -text
matlab_src/@DBtablePair/randCol.m -text
matlab_src/@DBtablePair/randRow.m -text
matlab_src/@DBtablePair/size.m -text
matlab_src/@DBtablePair/subsref.m -text
matlab_src/AssocCatStrFunc.m -text
matlab_src/CSVstr2assoc.m -text
matlab_src/CatKeyMul.m -text
matlab_src/CatStr.m -text
matlab_src/CatTriple.m -text
matlab_src/CatValMul.m -text
matlab_src/DBaddJavaOps.m -text
matlab_src/DBcreate.m -text
matlab_src/DBdelete.m -text
matlab_src/DBinit.m -text
matlab_src/DBinit1p1.m -text
matlab_src/DBinsert.m -text
matlab_src/DBsetupLLGrid.m -text
matlab_src/DBsubsrefFind.m -text
matlab_src/DBtableIndexRow.m -text
matlab_src/DBtableRandRow.m -text
matlab_src/ExtendPair.m -text
matlab_src/FindCSV.m -text
matlab_src/FindCSVsimple.m -text
matlab_src/IndexAssocFiles.m -text
matlab_src/InsertAssocFiles.m -text
matlab_src/IsClass.m -text
matlab_src/Iterator.m -text
matlab_src/JSONCSV2assoc.m -text
matlab_src/KronCatStr.m -text
matlab_src/Mat2str.m -text
matlab_src/Mertonize.m -text
matlab_src/MertonizeLatLon.m -text
matlab_src/MyEcho.m -text
matlab_src/NumStr.m -text
matlab_src/PairCheck.m -text
matlab_src/ParseFileCols.m -text
matlab_src/ReadCSV.m -text
matlab_src/ReadCSVfiles.m -text
matlab_src/SplitStr.m -text
matlab_src/StartsWith.m -text
matlab_src/Str2mat.m -text
matlab_src/StrLS.m -text
matlab_src/StrSearch.m -text
matlab_src/StrSepsame.m -text
matlab_src/StrSubind.m -text
matlab_src/StrSubsref.m -text
matlab_src/StrUnique.m -text
matlab_src/TsqlCol.m -text
matlab_src/TsqlSize.m -text
matlab_src/WriteDBtableIndex.m -text
matlab_src/col2type.m -text
matlab_src/col2val.m -text
matlab_src/columnNeighbors.m -text
matlab_src/genRmatData.m -text
matlab_src/html/DBinsert.html -text
matlab_src/html/DBsubsrefFind.html -text
matlab_src/parseJSON.m -text
matlab_src/putAssoc.m -text
matlab_src/randiTmp.m -text
matlab_src/runTESTdir.m -text
matlab_src/val2col.m -text
scripts/LoadD4mWebAnalysisData.m -text
scripts/StartStopIntallCloudbase_README.txt -text
