* text=auto !eol
/Advanced -text
/Environment -text
/New -text
/README.txt -text
/System-- -text
bin/clean_cloudbase.sh -text
bin/clean_hadoop.sh -text
bin/d4m_list_tables.sh -text
bin/d4m_query.sh -text
bin/load_d4m.sh -text
bin/load_d4m_w-args.sh -text
bin/set-classpath.sh -text
bin/setenv.sh -text
bin/start_all.sh -text
bin/start_cloudbase.sh -text
bin/start_cloudbase_1.sh -text
bin/start_hadoop.sh -text
bin/start_zookeeper.sh -text
bin/stop_all.sh -text
bin/stop_cloudbase.sh -text
bin/stop_hadoop.sh -text
bin/stop_zookeeper.sh -text
/build.xml -text
conf/capacity-scheduler.xml -text
conf/configuration.xsl -text
conf/hadoop-default.xml -text
conf/hadoop-env.sh -text
conf/hadoop-metrics.properties -text
conf/hadoop-site.xml -text
conf/log4j.properties -text
conf/masters -text
conf/slaves -text
conf/sslinfo.xml.example -text
docs/README.txt -text
docs/java.opts -text
examples/AssocConstructExample.m -text
examples/DBexample.m -text
examples/DBexample1.m -text
examples/ExampleFind.m -text
examples/ExampleFind1.m -text
examples/ExampleFindColumns.m -text
examples/ExampleFindRows.m -text
examples/ExampleInsert.m -text
examples/ExampleInsert1.m -text
examples/ReutersAtA.m -text
examples/ReutersEntityRead.m -text
examples/ReutersFacet.m -text
examples/ReutersHist.m -text
examples/ReutersTest1.m -text
examples/ReutersTracks.m -text
lib/ant-1.6.5.jar -text
lib/ant-commons-logging.jar -text
lib/ant-commons-net.jar -text
lib/ant.ext.profile.properties -text
lib/ant.jar -text
lib/ant.profile.properties -text
lib/cloudbase-core-1.0.0-RC2-javadoc.jar -text
lib/cloudbase-core-1.0.0-RC2.jar -text
lib/cloudbase-default.xml -text
lib/cloudbase-examples-1.0.0-RC2.jar -text
lib/cloudbase-server-1.0.0-RC2.jar -text
lib/cloudbase-site.xml -text
lib/cloudbase-start-1.0.0-RC2.jar -text
lib/commons-cli-2.0-SNAPSHOT.jar -text
lib/commons-codec-1.3.jar -text
lib/commons-el.jar -text
lib/commons-httpclient-3.0.1.jar -text
lib/commons-logging-1.0.4.jar -text
lib/commons-logging-api-1.0.4.jar -text
lib/commons-net-1.4.1.jar -text
lib/d4m_api-0.01.jar -text
lib/hadoop-0.19.0-ant.jar -text
lib/hadoop-0.19.0-core.jar -text
lib/hadoop-0.19.0-examples.jar -text
lib/hadoop-0.19.0-test.jar -text
lib/hadoop-0.19.0-tools.jar -text
lib/hadoop-default.xml -text
lib/hadoop-site.xml -text
lib/hbase-0.19.0.jar -text
lib/hsqldb-1.8.0.10.LICENSE.txt -text
lib/hsqldb-1.8.0.10.jar -text
lib/jasper-compiler.jar -text
lib/jasper-runtime.jar -text
lib/jboss.profile.properties -text
lib/jets3t-0.6.1.jar -text
lib/jetty-5.1.4.LICENSE.txt -text
lib/jetty-5.1.4.jar -text
lib/jetty-ext/commons-el.jar -text
lib/jetty-ext/jasper-compiler.jar -text
lib/jetty-ext/jasper-runtime.jar -text
lib/jetty-ext/jsp-api.jar -text
lib/jsp-api.jar -text
lib/junit-3.8.1.LICENSE.txt -text
lib/junit-3.8.1.jar -text
lib/kfs-0.2.0.jar -text
lib/kfs-0.2.LICENSE.txt -text
lib/log4j-1.2.15.jar -text
lib/lucene-core-2.4.1.jar -text
lib/lucene-demos-2.4.1.jar -text
lib/oro-2.0.8.jar -text
lib/poi-3.2-FINAL-20081019.jar -text
lib/poi-contrib-3.2-FINAL-20081019.jar -text
lib/poi-scratchpad-3.2-FINAL-20081019.jar -text
lib/profile.jar -text
lib/profile.properties -text
lib/servlet-api.jar -text
lib/slf4j-LICENSE.txt -text
lib/slf4j-api-1.4.3.jar -text
lib/slf4j-log4j12-1.4.3.jar -text
lib/thrift-20080411p1.jar -text
lib/timeline.profile.properties -text
lib/webapp.profile.properties -text
lib/xmlenc-0.52.jar -text
lib/zookeeper-3.2.0.jar -text
matlab_src/@Assoc/Adj.m -text
matlab_src/@Assoc/Assoc.m -text
matlab_src/@Assoc/Col.m -text
matlab_src/@Assoc/Equallike.m -text
matlab_src/@Assoc/Key.m -text
matlab_src/@Assoc/Pluslike.m -text
matlab_src/@Assoc/Row.m -text
matlab_src/@Assoc/Val.m -text
matlab_src/@Assoc/and.m -text
matlab_src/@Assoc/diag.m -text
matlab_src/@Assoc/disp.m -text
matlab_src/@Assoc/display.m -text
matlab_src/@Assoc/displayFull.m -text
matlab_src/@Assoc/double.m -text
matlab_src/@Assoc/eq.m -text
matlab_src/@Assoc/find.m -text
matlab_src/@Assoc/ge.m -text
matlab_src/@Assoc/gt.m -text
matlab_src/@Assoc/isempty.m -text
matlab_src/@Assoc/le.m -text
matlab_src/@Assoc/logical.m -text
matlab_src/@Assoc/lt.m -text
matlab_src/@Assoc/minus.m -text
matlab_src/@Assoc/mtimes.m -text
matlab_src/@Assoc/ne.m -text
matlab_src/@Assoc/nnz.m -text
matlab_src/@Assoc/noCol.m -text
matlab_src/@Assoc/noRow.m -text
matlab_src/@Assoc/noVal.m -text
matlab_src/@Assoc/or.m -text
matlab_src/@Assoc/plus.m -text
matlab_src/@Assoc/putAdj.m -text
matlab_src/@Assoc/putCol.m -text
matlab_src/@Assoc/putRow.m -text
matlab_src/@Assoc/putVal.m -text
matlab_src/@Assoc/rdivide.m -text
matlab_src/@Assoc/size.m -text
matlab_src/@Assoc/spy.m -text
matlab_src/@Assoc/subsref.m -text
matlab_src/@Assoc/sum.m -text
matlab_src/@Assoc/transpose.m -text
matlab_src/@Assoc/xor.m -text
matlab_src/@DBserver/DBserver.m -text
matlab_src/@DBserver/display.m -text
matlab_src/@DBserver/ls.m -text
matlab_src/@DBserver/subsref.m -text
matlab_src/@DBtable/DBtable.m -text
matlab_src/@DBtable/delete.m -text
matlab_src/@DBtable/nnz.m -text
matlab_src/@DBtable/put.m -text
matlab_src/@DBtable/size.m -text
matlab_src/@DBtable/subsref.m -text
matlab_src/DBLS.m -text
matlab_src/DBcreate.m -text
matlab_src/DBdelete.m -text
matlab_src/DBinit.m -text
matlab_src/DBinsert.m -text
matlab_src/DBsubsrefFind.m -text
matlab_src/IsClass.m -text
matlab_src/Mat2str.m -text
matlab_src/NumStr.m -text
matlab_src/Str2mat.m -text
matlab_src/StrSearch.m -text
matlab_src/StrSepsame.m -text
matlab_src/StrSubsref.m -text
matlab_src/StrUnique.m -text
matlab_src/classpath.txt -text
matlab_src/html/DBinsert.html -text
matlab_src/html/DBsubsrefFind.html -text
nbproject/ide-file-targets.xml -text
nbproject/private/private.xml -text
nbproject/project.xml -text
src/capacity-scheduler.xml -text
src/configuration.xsl -text
src/hadoop-default.xml -text
src/hadoop-env.sh -text
src/hadoop-metrics.properties -text
src/hadoop-site.xml -text
src/ll/mit/edu/cloud/connection/CloudbaseConnection.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbInfo.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbInsert.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbQuery.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbResultSet.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbRow.java -text
src/ll/mit/edu/d4m/db/cloud/D4mDbTableOperations.java -text
src/log4j.properties -text
src/masters -text
src/slaves -text
src/sslinfo.xml.example -text
