* text=auto !eol
/Advanced -text
/Copyright -text
/D4Mwebapp.prj -text
/Environment -text
/ExternalContrib -text
/New -text
/README.txt -text
/System-- -text
/WEBAPP.README -text
bin/StartStopIntallCloudbase_README.txt -text
bin/clean_cloudbase.sh -text
bin/clean_hadoop.sh -text
bin/cloudbase_instance_processor.sh -text
bin/d4m_list_tables.sh -text
bin/d4m_query.sh -text
bin/diffex.sh -text
bin/install_cb_hd_local.sh -text
bin/instance_hosts -text
bin/load_d4m.sh -text
bin/load_d4m_w-args.sh -text
bin/remove_cb_hd_local.sh -text
bin/set-classpath.sh -text
bin/setenv.sh -text
bin/start_all.sh -text
bin/start_cb_hd_local.sh -text
bin/start_cloudbase.sh -text
bin/start_hadoop.sh -text
bin/start_zookeeper.sh -text
bin/stop_all.sh -text
bin/stop_cb_hd_local.sh -text
bin/stop_cloudbase.sh -text
bin/stop_hadoop.sh -text
bin/stop_zookeeper.sh -text
bin/test_monitor.sh -text
bin/test_scanner.sh -text
bin/test_tabsplit.sh -text
/build.xml -text
conf/capacity-scheduler.xml -text
conf/cloudbase-site.xml -text
conf/cloudbase.properties -text
conf/configuration.xsl -text
conf/core-site.xml -text
conf/hadoop-env.sh -text
conf/hadoop-metrics.properties -text
conf/hdfs-site.xml -text
conf/log4j.properties -text
conf/mapred-site.xml -text
conf/masters -text
conf/octaverc.txt -text
conf/slaves -text
conf/sql.properties -text
conf/sslinfo.xml.example -text
docs/D4M-Demo.mp4 -text
docs/D4M-Slides.ppt -text
docs/java.opts -text
examples/AssocConstructExample.m -text
examples/CloudPath.m -text
examples/D4MqueryGetTrackNames.m -text
examples/D4MqueryJSONformat.m -text
examples/D4MqueryMHtrack.m -text
examples/D4MqueryMultiTrack.m -text
examples/D4MqueryTrackPointDocList.m -text
examples/D4MqueryTrackWindow.m -text
examples/D4MwebQueryResponse.m -text
examples/DBexample.m -text
examples/DBexample1.m -text
examples/DataGeneration/RUN_graphGenerator.m -text
examples/DataGeneration/declareGlobals.m -text
examples/DataGeneration/genScalData.m -text
examples/DataGeneration/getUserParameters.m -text
examples/DbInfoOctaveExample.m -text
examples/ExampleFind.m -text
examples/ExampleFind1.m -text
examples/ExampleFindAll.m -text
examples/ExampleFindColumns.m -text
examples/ExampleFindRows.m -text
examples/ExampleInsert.m -text
examples/ExampleInsert1.m -text
examples/FindTracks.m -text
examples/ISVGfacetExample.m -text
examples/ISVGsubsrefExample.m -text
examples/OctaveJavaExample.m -text
examples/ParseCols.m -text
examples/ParseFile.m -text
examples/ParseFileCols.m -text
examples/RUN.m -text
examples/Reuters2demoScript.txt -text
examples/Reuters3D4MqueryDemo.m -text
examples/Reuters3FindTracks.m -text
examples/Reuters3MHtracks.m -text
examples/Reuters3demoScript.txt -text
examples/Reuters3insert.m -text
examples/Reuters3parse.m -text
examples/Reuters3trackInsert.m -text
examples/Reuters3trackParse.m -text
examples/ReutersAtA.m -text
examples/ReutersAtAdemo.m -text
examples/ReutersEntity2Read.m -text
examples/ReutersEntity3Read.m -text
examples/ReutersEntityRead.m -text
examples/ReutersEntityTimeStamp.m -text
examples/ReutersFacet.m -text
examples/ReutersFacetDemo.m -text
examples/ReutersFacetO2.m -text
examples/ReutersHist.m -text
examples/ReutersMHtracks.m -text
examples/ReutersTest1.m -text
examples/ReutersTracks.m -text
examples/ReutersTracksDisp.m -text
examples/ReutersTracksGraph.m -text
examples/TrackGraph.m -text
examples/pBenchmarkTest1.m -text
examples/pPrep.m -text
examples/run_d4m_analytics.m -text
lib/cloudbase-core-1.2.0.jar -text
lib/cloudbase-server-1.2.0.jar -text
lib/cloudbase-start-1.2.0.jar -text
lib/commons-collections-3.2.jar -text
lib/commons-configuration-1.5.jar -text
lib/commons-io-1.4.jar -text
lib/commons-lang-2.4.jar -text
lib/commons-logging-1.0.4.jar -text
lib/d4m-webapp-stubs.jar -text
lib/d4m_api-0.01.jar -text
lib/hadoop-0.20.2-core.jar -text
lib/hadoop-0.20.2-tools.jar -text
lib/json.jar -text
lib/log4j-1.2.15.jar -text
lib/matlabcontrol-3.01.jar -text
lib/slf4j-api-1.6.1.jar -text
lib/slf4j-log4j12-1.6.1.jar -text
lib/thrift-0.2.jar -text
lib/zookeeper-3.2.2.jar -text
lib1.1/cloudbase-core-1.1.0-LL1.jar -text
lib1.1/cloudbase-server-1.1.0.jar -text
lib1.1/cloudbase-start-1.1.0.jar -text
lib1.1/commons-logging-1.0.4.jar -text
lib1.1/d4m-webapp-stubs.jar -text
lib1.1/d4m_api-0.01.jar -text
lib1.1/hadoop-0.20.2-core.jar -text
lib1.1/hadoop-0.20.2-tools.jar -text
lib1.1/json.jar -text
lib1.1/log4j-1.2.15.jar -text
lib1.1/matlabcontrol-3.01.jar -text
lib1.1/thrift-20080411p1.jar -text
lib1.1/zookeeper-3.2.2.jar -text
matlab_src/@Assoc/Adj.m -text
matlab_src/@Assoc/Assoc.m -text
matlab_src/@Assoc/Assoc2CSV.m -text
matlab_src/@Assoc/Assoc2CSVstr.m -text
matlab_src/@Assoc/Assoc2JSONCSV.m -text
matlab_src/@Assoc/Col.m -text
matlab_src/@Assoc/Equallike.m -text
matlab_src/@Assoc/Key.m -text
matlab_src/@Assoc/Pluslike.m -text
matlab_src/@Assoc/Row.m -text
matlab_src/@Assoc/Val.m -text
matlab_src/@Assoc/abs.m -text
matlab_src/@Assoc/and.m -text
matlab_src/@Assoc/catFind.m -text
matlab_src/@Assoc/conv.m -text
matlab_src/@Assoc/diag.m -text
matlab_src/@Assoc/disp.m -text
matlab_src/@Assoc/display.m -text
matlab_src/@Assoc/displayFull.m -text
matlab_src/@Assoc/double.m -text
matlab_src/@Assoc/eq.m -text
matlab_src/@Assoc/find.m -text
matlab_src/@Assoc/ge.m -text
matlab_src/@Assoc/gt.m -text
matlab_src/@Assoc/isempty.m -text
matlab_src/@Assoc/le.m -text
matlab_src/@Assoc/loadobj.m -text
matlab_src/@Assoc/logical.m -text
matlab_src/@Assoc/lt.m -text
matlab_src/@Assoc/max.m -text
matlab_src/@Assoc/min.m -text
matlab_src/@Assoc/minus.m -text
matlab_src/@Assoc/mtimes.m -text
matlab_src/@Assoc/ne.m -text
matlab_src/@Assoc/nnz.m -text
matlab_src/@Assoc/noCol.m -text
matlab_src/@Assoc/noRow.m -text
matlab_src/@Assoc/noVal.m -text
matlab_src/@Assoc/num2str.m -text
matlab_src/@Assoc/numel.m -text
matlab_src/@Assoc/or.m -text
matlab_src/@Assoc/plus.m -text
matlab_src/@Assoc/putAdj.m -text
matlab_src/@Assoc/putCol.m -text
matlab_src/@Assoc/putRow.m -text
matlab_src/@Assoc/putVal.m -text
matlab_src/@Assoc/randCol.m -text
matlab_src/@Assoc/randRow.m -text
matlab_src/@Assoc/rdivide.m -text
matlab_src/@Assoc/reAssoc.m -text
matlab_src/@Assoc/size.m -text
matlab_src/@Assoc/spy.m -text
matlab_src/@Assoc/spyTicks.m -text
matlab_src/@Assoc/sqIn.m -text
matlab_src/@Assoc/sqOut.m -text
matlab_src/@Assoc/str2num.m -text
matlab_src/@Assoc/strcmp.m -text
matlab_src/@Assoc/subsref.m -text
matlab_src/@Assoc/sum.m -text
matlab_src/@Assoc/transpose.m -text
matlab_src/@Assoc/xor.m -text
matlab_src/@DBserver/DBserver.m -text
matlab_src/@DBserver/display.m -text
matlab_src/@DBserver/ls.m -text
matlab_src/@DBserver/subsref.m -text
matlab_src/@DBtable/DBtable.m -text
matlab_src/@DBtable/delete.m -text
matlab_src/@DBtable/deleteForce.m -text
matlab_src/@DBtable/nnz.m -text
matlab_src/@DBtable/put.m -text
matlab_src/@DBtable/randRow.m -text
matlab_src/@DBtable/size.m -text
matlab_src/@DBtable/subsref.m -text
matlab_src/@DBtablePair/DBtablePair.m -text
matlab_src/@DBtablePair/delete.m -text
matlab_src/@DBtablePair/deleteForce.m -text
matlab_src/@DBtablePair/nnz.m -text
matlab_src/@DBtablePair/put.m -text
matlab_src/@DBtablePair/randCol.m -text
matlab_src/@DBtablePair/randRow.m -text
matlab_src/@DBtablePair/size.m -text
matlab_src/@DBtablePair/subsref.m -text
matlab_src/AssocCatStrFunc.m -text
matlab_src/CSVstr2assoc.m -text
matlab_src/CatStr.m -text
matlab_src/CatTriple.m -text
matlab_src/DBaddJavaOps.m -text
matlab_src/DBcreate.m -text
matlab_src/DBdelete.m -text
matlab_src/DBinit.m -text
matlab_src/DBinit1p1.m -text
matlab_src/DBinsert.m -text
matlab_src/DBsubsrefFind.m -text
matlab_src/DBtableIndexRow.m -text
matlab_src/DBtableRandRow.m -text
matlab_src/ExtendPair.m -text
matlab_src/FindCSV.m -text
matlab_src/IndexAssocFiles.m -text
matlab_src/InsertAssocFiles.m -text
matlab_src/IsClass.m -text
matlab_src/JSONCSV2assoc.m -text
matlab_src/Mat2str.m -text
matlab_src/Mertonize.m -text
matlab_src/MertonizeLatLon.m -text
matlab_src/NumStr.m -text
matlab_src/PairCheck.m -text
matlab_src/ParseFileCols.m -text
matlab_src/ReadCSV.m -text
matlab_src/ReadCSVfiles.m -text
matlab_src/SplitStr.m -text
matlab_src/Str2mat.m -text
matlab_src/StrLS.m -text
matlab_src/StrSearch.m -text
matlab_src/StrSepsame.m -text
matlab_src/StrSubsref.m -text
matlab_src/StrUnique.m -text
matlab_src/TEST/AssocConstructTEST.m -text
matlab_src/TEST/AssocMath01TEST.m -text
matlab_src/TEST/AssocSetup.m -text
matlab_src/TEST/AssocSubsrefTEST.m -text
matlab_src/TEST/D4MqueryGetTrackNames.m -text
matlab_src/TEST/D4MqueryJSONformat.m -text
matlab_src/TEST/D4MqueryMHtrack.m -text
matlab_src/TEST/D4MqueryMultiTrack.m -text
matlab_src/TEST/D4MqueryTrackPointDocList.m -text
matlab_src/TEST/D4MqueryTrackWindow.m -text
matlab_src/TEST/D4MwebQueryResponse.m -text
matlab_src/TEST/DBserverDispTEST.m -text
matlab_src/TEST/DBsetup.bin -text
matlab_src/TEST/DBsetup.m -text
matlab_src/TEST/DBtablePairSubsrefTEST.m -text
matlab_src/TEST/DBtableSubsrefTEST.m -text
matlab_src/TEST/MertonTEST.m -text
matlab_src/TEST/Reuters3D4ManalysisTEST.m -text
matlab_src/TEST/Reuters3D4MqueryDemoTEST.m -text
matlab_src/TEST/Reuters3FindTracks.m -text
matlab_src/TEST/Reuters3MHtracks.m -text
matlab_src/TEST/Reuters3insert.m -text
matlab_src/TEST/Reuters3parse.m -text
matlab_src/TEST/Reuters3trackInsert.m -text
matlab_src/TEST/Reuters3trackParse.m -text
matlab_src/TEST/ReutersEntity3Read.m -text
matlab_src/TEST/SKSonCloud.m -text
matlab_src/TEST/badTEST.m -text
matlab_src/TEST/convTEST.m -text
matlab_src/TEST/dispTypeStats.m -text
matlab_src/TEST/goodTEST.m -text
matlab_src/TEST/pBenchmarkTEST.m -text
matlab_src/TEST/reuters_entities3/mergedfiles/output_01.txt -text
matlab_src/WriteDBtableIndex.m -text
matlab_src/classpath.1.txt -text
matlab_src/columnNeighbors.m -text
matlab_src/genRmatData.m -text
matlab_src/html/DBinsert.html -text
matlab_src/html/DBsubsrefFind.html -text
matlab_src/parseJSON.m -text
matlab_src/parseJSON_3rdParty.m -text
matlab_src/randiTmp.m -text
matlab_src/runTESTdir.m -text
nbproject/ide-file-targets.xml -text
nbproject/private/private.xml -text
nbproject/project.xml -text
octave/README -text
octave/java-2.2.7.tar.gz -text
octave/java-2.2.8.tar.gz -text
src/capacity-scheduler.xml -text
src/configuration.xsl -text
src/edu/mit/ll/cloud/connection/CloudbaseConnection.java -text
src/edu/mit/ll/cloud/connection/CloudbaseProperties.java -text
src/edu/mit/ll/cloud/connection/ConnectionProperties.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbInfo.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbInsert.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbQuery.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbResultSet.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbRow.java -text
src/edu/mit/ll/d4m/db/cloud/D4mDbTableOperations.java -text
src/edu/mit/ll/sks/matlab/D4mAnalyticsJsonListener.java -text
src/edu/mit/ll/sql/connection/SQLConnection.java -text
src/edu/mit/ll/sql/connection/SQLProperties.java -text
src/edu/mit/ll/sql/connection/sql.properties -text
src/hadoop-default.xml -text
src/hadoop-env.sh -text
src/hadoop-metrics.properties -text
src/hadoop-site.xml -text
src/log4j.properties -text
src/masters -text
src/slaves -text
src/sslinfo.xml.example -text
src/test/edu/mit/ll/d4m/db/cloud/TestMonitor.java -text
src/test/edu/mit/ll/d4m/db/cloud/TestScanner.java -text
src/test/edu/mit/ll/d4m/db/cloud/TestTableSplit.java -text
