p { font-size: 10pt);}
body { font-size: 9pt;
	padding-left: 8pt;
	font-family: verdana, arial; }
thead { color: rgb(66,114,185);
	text-align: center;
	text-weight: bold;
	font-family: verdana, arial; }
td { font-family: verdana, arial;
	font-size: 10pt;
	text-align:center;
	padding-left:7pt; 
	padding-right:7pt;
}
.header1 { color: rgb(20,86,158);
	 font-size: 14pt; text-align:left;
	 font-family: verdana, arial; text-align:left;}
.header2 { font-size:13pt; text-align: left;
	 font-family: verdana, arial; text-align:left;}
.highlight{ background-color: rgb(206,244,181); }
.banner { border-top: solid rgb(83,166,255);
	 border-bottom: solid rgb(83,166,255);
	 padding-bottom: 3pt;
	 padding-top: 3pt;
	 text-align: center;
	 background-color: rgb(255,252,203); }
.banner2 { border-top: solid rgb(255,0,0);
	 border-bottom: solid rgb(255,0,0);
	 border-left: solid rgb(255,0,0);
	 border-right: solid rgb(255,0,0);
	 padding-bottom: 3pt;
	 padding-top: 3pt;
	 text-align: center;
	 background-color: rgb(0,0,0);
	 color: rgb(255,255,255); }
.minibanner { border-top: solid rgb(83,166,255);
	 border-bottom: solid rgb(83,166,255);
	 padding-bottom: 3pt;
	 padding-top: 3pt;
	 text-align: center;
	 background-color: rgb(206,244,181); }
a:link {text-decoration: none; 
	 font-family: verdana, arial;
	 color:blue; }
a:visited {text-decoration: none; 
	 font-family: verdana, arial;
	 color:blue; }
